<h2>
    Container de Bootstrap
</h2>
<hr>
<h5>
    Los conteiners son el elemento de diseño más básico en Bootstrap y son necesarios cuando se utiliza nuestro sistema de cuadrícula predeterminado. 
</h5>
<h5>
    Los contenedores se utilizan para contener, rellenar y (a veces) centrar el contenido dentro de ellos. Aunque los contenedores se pueden anidar, la mayoría de los diseños no requieren un contenedor anidado.
</h5>
<h5>
 class="container-sm">100% 
</h5>
<h5>
    class="container-md">100% 
 
</h5>
<h5>
    class="container-lg">100% 
 
</h5>
<h5>
    class="container-xl">100% 
 
</h5>
<h5>
    class="container-xxl">100% 
</h5>
<hr>
<div class="container">

    <table class="table table-sm">
        <thead>
            <tr class="table-danger">
                <th scope="col"></th>
                <th scope="col">Extra small < 576px </th>
                <th scope="col">Small >= 576px </th>
                <th scope="col">Medium >= 768px </th>
                <th scope="col">Large >= 992px </th>
                <th scope="col">x-large >= 1200px</th>
                <th scope="col">xx-Large >= 1400px</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr class="table-secondary">
                <th scope="row">container</th>
                <td>100%</td>
                <td>540px</td>
                <td>720px</td>
                <td>960px</td>
                <td>1140px</td>
                <td>1320px</td>
            </tr>
            <tr class="table-success">
                <th scope="row">container-sm</th>
                <td>100%</td>
                <td>540px</td>
                <td>720px</td>
                <td>960px</td>
                <td>1140px</td>
                <td>1320px</td>
            </tr>
            <tr class="table-primary">
                <th scope="row">container-md</th>
                <td>100%</td>
                <td>100%</td>
                <td>720px</td>
                <td>960px</td>
                <td>1140px</td>
                <td>1320px</td>
            </tr>
            <tr class="table-warning">
                <th scope="row">container-lg</th>
                <td>100%</td>
                <td>100%</td>
                <td>100%</td>
                <td>960px</td>
                <td>1140px</td>
                <td>1320px</td>
            </tr>
            <tr class="table-info">
                <th scope="row">container-xl</th>
                <td>100%</td>
                <td>100%</td>
                <td>100%</td>
                <td>100%</td>
                <td>1140px</td>
                <td>1320px</td>
            </tr>
            <tr class="table-light">
                <th scope="row">container-xxl</th>
                <td>100%</td>
                <td>100%</td>
                <td>100%</td>
                <td>100%</td>
                <td>100%</td>
                <td>1320px</td>
            </tr>
            <tr class="table-dark">
                <th scope="row">container-fluid</th>
                <td>100%</td>
                <td>100%</td>
                <td>100%</td>
                <td>100%</td>
                <td>100%</td>
                <td>100%</td>
            </tr>
        </tbody>
    </table>
</div>