
<div class="d-flex">
  <div>
    <app-sidebar></app-sidebar>
  </div>

  <div class="container bg-dark">
    <div class="row p-3">
      <div class="col">
        <label for="exampleDataList" class="form-label text-light">Buscar:</label>
        <input class="form-control"   placeholder="Buscar meme">

      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col text-light">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel hic doloremque iste molestiae ipsa excepturi accusamus. Sapiente officiis consectetur ea itaque magnam? Quos repellat soluta quae nam modi! Amet, quasi?
      </div>
    </div>

  </div>

</div>





<!-- <div>
  
  <app-pages></app-pages>
</div> -->

