
<!-- Sidebar -->

<div class=" bg-dark border-right p-5" id="sidebar">
    <h2 class="text-light">
        Memes-app
    </h2>

    <div>
        <div class="list-group  list reset">
            <a href="#" class="list-group-item list-group-item-warning">A simple default list group item</a>
          
            <a href="#" class="list-group-item list-group-item-action list-group-item-success">Dashboard</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-info">Dashboard</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-success">Dashboard</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-info">Dashboard</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-success">Dashboard</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-info">Dashboard</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-success">Dashboard</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-info">Dashboard</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-success">Dashboard</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-info">Dashboard</a>
          </div>
    </div>

</div>
