<h1>Estilo de botones</h1>

 <!-- <div class="row">
          <div class="col-12">
              <div class="card">
                  <div class="card-body">
                    <app-contenedores></app-contenedores>
                  </div>
              </div>
          </div>
      </div> -->
      <div>
 
 
        <h1>Animation Buttons</h1>
        <p>Hover us and enjoy the satisfying neumorphic animation designs!</p>
        <div class="frame">
          <button class="custom-btn btn-1"> Click aqui..</button>
          <button class="custom-btn btn-2"> Click aqui..</button>
          <button class="custom-btn btn-3"><span> Click aqui..</span></button>
          <button class="custom-btn btn-4"><span> Click aqui..</span></button>
          <button class="custom-btn btn-5"><span> Click aqui..</span></button>
          <button class="custom-btn btn-6"><span> Click aqui..</span></button>
          <button class="custom-btn btn-7"><span> Click aqui..</span></button>
          <button class="custom-btn btn-8"><span> Click aqui..</span></button>
          <button class="custom-btn btn-9">Click aqui</button>
          <button class="custom-btn btn-10">Click aqui</button>
          <button class="custom-btn btn-11">Click aqui<div class="dot"></div></button>
          <button class="custom-btn btn-12"><span>Click!</span><span>Click aqui</span></button>
          <button class="custom-btn btn-13">Click aqui</button>
          <button class="custom-btn btn-14">Click aqui</button>
          <button class="custom-btn btn-15">Click aqui</button>
          <button class="custom-btn btn-16">Click aqui</button>
          <p style="font-family: Andale Mono, monospace;">
            DEERBUCKS.DESIGNING</p>
        </div>
        
           
           
       </div>

